    /*********************/
    /*********************/
    /*ÁREA ADMINISTRATIVA*/
    /** CASA DO BARISTA **/
    /*********************/
    /*********************/


/* 
=======================================
FONTES IMPORTAÇÃO OU INSTALAÇÃO
=======================================
*/

/* FONTE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* FONTE LOCAL */
@font-face{
    font-family: "Geometry Soft Pro-Bold N";
    src: url(../../barista/fonts/Geometry\ Soft\ Pro-Bold\ N.otf) format("opentype");
    font-weight: 700;
    font-style: normal;

    /* ATENÇÃO COM O CAMINHO DA FONTE */

}

:root{
    /* Toda vez que tem -- é uma variável */
    --cor-fundo-clara: #F3E8DC;
    --cor-fundo-escura: #2e2e2e;
    --cor-principal: #4b2e1e;
    --cor-secundaria-1: #8b5e3c;
    --cor-secundaria-2: #b56a34;
    --cor-destaque: #5c6945;

    --cor-texto: #2e2e2e;
    --cor-titulo:  #4b2e1e;
    --cor-subtitulo: #8b5e3c;


    /* FONTES */

    --fonte-texto: "Bebas Neue", sans-serif;
    --fonte-titulo: "Geometry Soft Pro-Bold N";

    

}



h2{
    font-family: var(--fonte-titulo);
}

h3{
    font-family: var(--fonte-texto);
}

p{
    font-family: var(--fonte-texto);
}



/* MENU LATERAL */

.app-sidebar{
    background: #0b0b0b !important;
}

/* LOGO */

.sidebar-brand{
    height: 100px;
}


.sidebar-brand .brand-link .brand-image{
    max-height: 75px;
}

/* SEARCH BAR */

.form-control {
    color: #4b2e1e;
    background-color: #F3E8DC;
    border: 1px solid #b56a34;
    font-family: var(--fonte-texto);
}

.form-control:focus {
    color: #F3E8DC;
    background-color: #4b2e1e;
    border: 1px solid #b56a34;
    box-shadow: var(--bs-box-shadow-inset), 
        0 0 0 0.25rem rgba(181, 106, 52, 0.307);
}

.form-control::placeholder {
    color: #4b2e1e;
    font-family: var(--fonte-texto);
}

.form-control:focus::placeholder {
    color: #F3E8DC;
}

/*CATEGORIAS DO MENU LATERAL */


    /* box padrão*/
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link {
    color: #F3E8DC;
}

    /*box ao passar o mouse*/
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link:hover {
    color: #b56a34;
    background-color: #F3E8DC !important;
}

    /*box ativa*/
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active {
    color: #F3E8DC !important;
    background-color: #b56a34 !important;
}

.sidebar-wrapper .nav-header{
    color: #b56a34;
    font-weight: bold;
}

.sidebar-wrapper .nav-header h2 {
    font-size: 1rem;
}

/* TOPO */

/*
.bg-body {
    background-color: #4b2e1e !important;
}
*/

.app-header {
    border-bottom: 1px solid #b56a34;
}

/* SEARCH BAR DO TOPO*/

.nav-link {
    color: #4b2e1e;
}

.nav-link:hover,
.nav-link:focus {
    color: #b56a34;
}

.btn:active,
.btn:hover {
    background-color: #b56a34 !important;
}

/* MENSAGENS, NOTIFICAÇÃO */

.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: #F3E8DC;
}

.dropdown-item:active {
    background-color: #b56a34;
}

.dropdown-item-title {
    color: #b56a34;
    font-weight: bold;
}

.dropdown-footer, 
.dropdown-header {
    color: #F3E8DC;
    background-color: #4b2e1e;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #4b2e1e;
}

/* PERFIL */

.text-bg-primary {
    background-color: #4b2e1e !important;
}

/* ESTILO GERAL DO CORPO */

body {
    color: #4b2e1e;
}

.app-main {
    background-color: #f2f0f1;
}

/* LINK DA PÁGINA */

.app-main .app-content-header .breadcrumb a {
    color: #4b2e1e;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #b56a34;
    font-family: var(--fonte-texto);
}

/* CARDS */

.small-box {
    color: #4b2e1e !important;
    background-color: #F3E8DC !important;
}

.small-box .small-box-icon {
    color: #4b2e1e;
}

.small-box > .small-box-footer {
    background-color: #4b2e1e;
}

.small-box > .small-box-footer:hover {
    background-color: rgba(75, 46, 30, 0.731);
}

.link-light {
    color: #F3E8DC !important;
}

/* RODAPÉ */

a {
    color: #b56a34;
    font-family: var(--fonte-texto);
}

.app-footer {
    color: #F3E8DC;
    background-color: #4b2e1e;
    font-family: var(--fonte-texto);
}

.app-footer > div:first-of-type {
    color: #b56a34;
}


    /*******************/
    /*******************/
    /*   TEMA ESCURO   */
    /* CASA DO BARISTA */
    /*******************/
    /*******************/

[data-bs-theme="dark"] .bg-body {
    background-color: #4b2e1e !important;
}

[data-bs-theme="dark"] .app-header .nav-link {
    color: #F3E8DC !important;
}

[data-bs-theme="dark"] .app-header .nav-link:focus,
[data-bs-theme="dark"] .app-header .nav-link:hover {
    color: #b56a34 !important;
}

[data-bs-theme="dark"] .form-control:focus {
    background-color: #0b0b0b;
}

[data-bs-theme="dark"] .btn {
    background-color: #F3E8DC;
    color: #b56a34;
}

[data-bs-theme="dark"] .btn:focus,
[data-bs-theme="dark"] .btn:hover {
    color: #F3E8DC;
}

[data-bs-theme="dark"] .dropdown-item {
    color: #b56a34;
    background-color: #0b0b0b;
}

[data-bs-theme="dark"] .dropdown-item:hover, .dropdown-item:focus {
  background-color: #F3E8DC;
}

[data-bs-theme="dark"] .dropdown-footer, .dropdown-header {
  background-color: #4b2e1e !important;
}

[data-bs-theme='dark'] .dropdown-item-title {
    color: #4b2e1e !important;
}

[data-bs-theme="dark"] .dropdown-menu-lg p {
    color: #b56a34;
}

/* 
[data-bs-theme="dark"] .text-bg-primary {
    background-color: #b56a34 !importany;
} */

[data-bs-theme="dark"] .text-bg-primary p {
    color: #F3E8DC
}

[data-bs-theme="dark"] .app-main {
    background-color: #171210;
}

[data-bs-theme="dark"] .app-main .app-content-header .breadcrumb a {
    color: #b56a34;
}

[data-bs-theme="dark"] .breadcrumb-item.active {
    color: #F3E8DC;
}

[data-bs-theme="dark"] .small-box {
    background-color: #b56a34 !important;
}

[data-bs-theme="dark"] body {
    color: #F3E8DC;
}

    /*******************/
    /*******************/
    /****   LISTAS  ****/
    /******* CMS *******/
    /*******************/
    /*******************/

.card {
  box-shadow: 0 0 1px rgba(181, 106, 52, 0.42), 0 1px 3px rgba(181, 106, 52, 0.5)
}

.card-header {
    background-color: #0b0b0b;
}

.card-title {
    color: #F3E8DC;
}

.input-group-text {
    color: #F3E8DC;
    background-color: #b56a34;
    border: 1px solid #b56a34;
}

.form-select:hover,
.form-select:focus {
    cursor: pointer;
    color: #F3E8DC;
    border: 1px solid #F3E8DC;
    background-color: #b56a34 !important;
    box-shadow: none;
}

.form-select {
    background-color: #F3E8DC;
    color: #b56a34;
}

.btn-primary {
    background-color: #b56a34;
    color: #F3E8DC;
    border: 1px solid #b56a34;
    box-shadow: 0 7px 5px rgba(181, 106, 52, 0.56);
}

.btn-primary:hover, .btn-primary:focus {
    color: #b56a34 !important;
    background-color: #F3E8DC !important;
    border: 1px solid #b56a34;
}

.table thead tr > * {
    background-color: #F3E8DC !important;
}

.table th {
    color: #b56a34;
}

.table tbody tr:hover > * {
    background-color: #b56a34 !important;
}

.table tbody tr:hover td {
    color: #F3E8DC;
}

.table tbody tr img {
    transition: transform .25s ease;
}

.table tbody tr img:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.table tbody tr .btn {
    background-color: #Fff;
}

.table tbody tr td:last-child button:last-child {
    background-color: red;
    color: #F3E8DC;
}

.table tbody tr td:last-child button:last-child:hover {
    background-color: #f3e9dc !important;
    color: red !important;
}

.table tbody tr .btn:hover {
    background-color: #4b2e1e !important;
}

.card-footer {
    background-color: #0b0b0b;
}

.text-body-secondary {
    color: #b56a34 !important;
}

.text-body-secondary strong {
    color: #F3E8DC;
}

.page-item a {
    background-color: #F3E8DC;
    color: #b56a34;
}

.page-item a:hover {
    background-color: #fff;
    color: #b56a34; 
}

.page-item.active a {
    background-color: #b56a34;
    color: #F3E8DC;
}


    /*******************/
    /*******************/
    /*   TEMA ESCURO   */
    /**** LISTA CMS ****/
    /*******************/
    /*******************/

[data-bs-theme="dark"] .card-header {
    background-color: #b56a34;
}

[data-bs-theme="dark"] .input-group-text {
    color: #F3E8DC;
    background-color: #4b2e1e;
    border: 1px solid #4b2e1e;
}

[data-bs-theme="dark"] .form-select:hover,
[data-bs-theme="dark"] .form-select:focus {
    background-color: #4b2e1e !important;
}

[data-bs-theme="dark"] .btn-primary {
    background-color: #4b2e1e;
    color: #F3E8DC;
    border: 1px solid #4b2e1e;
    box-shadow: 0 7px 5px rgba(75, 46, 30, 0.56);
}

[data-bs-theme="dark"] .table thead tr > * {
    background-color: #4b2e1e !important;
}

[data-bs-theme="dark"] .table th {
    color: #F3E8DC;
}

[data-bs-theme="dark"] .table tbody tr > * {
    background-color:  #0b0b0b !important;
}

[data-bs-theme="dark"] .table tbody tr:hover > * {
    background-color: #4b2e1e !important;
}

[data-bs-theme="dark"] .table tbody tr td {
    color: #F3E8DC;
}

[data-bs-theme="dark"] .table tbody tr:hover td {
    color: #e26912;
}

[data-bs-theme="dark"] .table tbody tr .btn {
    background-color: #Fff;
}

[data-bs-theme="dark"] .table tbody tr .btn:hover {
    background-color: #b56a34 !important;
}

[data-bs-theme="dark"] .card-footer {
    background-color: #b56a34;
}

[data-bs-theme="dark"] .text-body-secondary {
    color: #F3E8DC !important;
}

[data-bs-theme="dark"] .text-body-secondary strong {
    color: #4b2e1e;
}

[data-bs-theme="dark"] .page-item a {
    background-color: #F3E8DC;
    color: #b56a34;
}

[data-bs-theme="dark"] .page-item a:hover {
    background-color: #4b2e1e;
    color: #F3E8DC; 
}

[data-bs-theme="dark"] .page-item.active a {
    background-color: #4b2e1e;
    color: #F3E8DC;
}

/* TEMA NOTURNO - GALERIA */

[data-bs-theme="dark"] .card-body {
    background-color: #0b0b0b;
}